aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiosignal==1.4.0
altair==5.5.0
annotated-types==0.7.0
ansicon==1.89.0
anyio==4.12.0
argcomplete==3.6.2
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.0
async-lru==2.3.0
attrs==25.3.0
babel==2.18.0
beautifulsoup4==4.15.0
bleach==6.4.0
bleak==1.1.0
blessed==1.18.1
blinker==1.9.0
cachetools==6.2.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.1.8
colorama==0.4.6
comm==0.2.3
comtypes==1.4.12
contourpy==1.3.3
cors==1.0.1
cursewords==1.1
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.21
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
dotenv==0.9.9
executing==2.2.0
fastjsonschema==2.21.2
filelock==3.19.1
Flask==3.1.0
flask-cors==5.0.1
fonttools==4.59.2
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.7.0
future==1.0.0
gevent==25.9.1
gitdb==4.0.12
GitPython==3.1.45
greenlet==3.3.0
groq==0.37.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
idna==3.10
ipykernel==7.3.0
ipython==9.4.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jinxed==1.3.0
jiter==0.12.0
joblib==1.4.2
json5==0.14.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter-events==0.12.1
jupyter-lsp==2.3.1
jupyter_client==8.9.1
jupyter_core==5.9.1
jupyter_server==2.19.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
kiwisolver==1.4.9
langchain==1.2.0
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.6
langchain-groq==1.1.1
langchain-openai==1.1.6
langchain-text-splitters==1.1.0
langgraph==1.0.5
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.5
langgraph-sdk==0.3.1
langsmith==0.6.0
lark==1.3.1
MarkupSafe==3.0.2
marshmallow==3.26.2
matplotlib==3.10.5
matplotlib-inline==0.1.7
mistune==3.2.1
mpmath==1.3.0
multidict==6.6.4
mypy_extensions==1.1.0
narwhals==2.2.0
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.10.4
nest-asyncio2==1.7.2
networkx==3.5
nltk==3.9.1
notebook==7.5.7
notebook_shim==0.2.4
notification==0.2.1
numpy==2.2.6
openai==2.14.0
opencv-python==4.12.0.88
orjson==3.11.5
ormsgpack==1.12.1
packaging==25.0
pandas==2.3.2
pandocfilters==1.5.1
parso==0.8.5
pbkdf2==1.3
pillow==11.3.0
pipx==1.7.1
platformdirs==4.4.0
plyer==2.1.0
polars==1.32.3
prometheus_client==0.25.0
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==6.32.0
psutil==7.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==21.0.0
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
Pygments==2.19.2
PyJWT==2.10.1
pyparsing==3.2.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.1.0
pytz==2025.2
pywifi==1.1.12
pywinpty==3.0.5
PyYAML==6.0.2
pyzmq==27.1.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.5
requests-file==3.0.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rpds-py==0.27.1
scikit-learn==1.6.1
scipy==1.16.1
seaborn==0.13.2
Send2Trash==2.1.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8.4
SQLAlchemy==2.0.45
stack-data==0.6.3
streamlit==1.49.0
sympy==1.14.0
tenacity==9.1.2
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.12.0
tinycss2==1.5.1
tldextract==5.3.1
toml==0.10.2
torch==2.8.0
torchvision==0.23.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
twilio==9.8.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ultralytics==8.3.187
ultralytics-thop==2.0.16
uri-template==1.3.0
urllib3==2.5.0
userpath==1.9.2
uuid_utils==0.12.0
watchdog==6.0.0
wcwidth==0.2.13
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.3
wifi==0.3.8
winrt-runtime==3.2.1
winrt-Windows.Devices.Bluetooth==3.2.1
winrt-Windows.Devices.Bluetooth.Advertisement==3.2.1
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==3.2.1
winrt-Windows.Devices.Enumeration==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Storage.Streams==3.2.1
xgboost==3.1.2
xxhash==3.6.0
yarl==1.20.1
zope.event==6.1
zope.interface==8.1.1
zstandard==0.25.0
